<html>
  <head>
    <style>
      table {
        border: 1px solid #ccc;
        margin: 0;
        padding: 0;
        width: 100%;
      }

      table caption {
        font-size: 1.5em;
        margin: 0.5em 0 0.75em;
      }

      table tr {
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        padding: 0.35em;
      }

      table th,
      table td {
        padding: 0.625em;
      }

      table th {
        font-size: 0.85em;
        letter-spacing: 0.1em;
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <table>
      <caption>
        Welcome Bro, These are the existing API Endpoints
      </caption>
      <caption>
        Base Route: https://comiblock.herokuapp.com/
      </caption>
      <tr>
        <th>Route</th>
        <th>Action</th>
        <th>Request.body/params</th>
      </tr>
      <tr>
        <td style="font-weight: bolder; color: green; text-align: center">
          SIGNUP, LOGIN, LOGOUT, CONFIRM EMAIL, RECOVER ACCOUNT
        </td>
      </tr>
      <tr>
        <td>GET-/logout</td>
        <td>Logout</td>
        <td>-</td>
      </tr>

      <tr>
        <td>POST-/api/signup</td>
        <td>Signup -</td>
        <td>
          req.body.phone, req.body.firstname, req.body.surname, req.body.email,
          req.body.occupation, req.body.dateOfBirth, req.body.password
          <span style="font-weight: bolder">
            <br /><br />By default a verified state is set to false, and the
            user is sent an OTP to confirm email address.</span
          >
        </td>
      </tr>
      <tr>
        <td>POST-/api/recover_account</td>
        <td>Recover Account</td>
        <td>
          req.body.email
          <span style="font-weight: bolder">
            <br /><br />Sends a new OTP to the user email address</span
          >
        </td>
      </tr>
      <tr>
        <td>POST-/api/confirm_email</td>
        <td>confirm Email address</td>
        <td>
          req.body.email, req.body.verifyCode
          <span style="font-weight: bolder">
            <br /><br />Verifies the OTP sent to the user email address with
            what is stored in the DB and updates the user verified status to
            true if correct</span
          >
        </td>
      </tr>
      <tr>
        <td>PATCH-/api/update/password</td>
        <td>Update Password</td>
        <td>req.body.email,req.body.confirmPassword,req.body.newPassword</td>
      </tr>
      <tr>
        <td>POST-/api/login</td>
        <td>Authentication/login</td>
        <td>req.body.email, req.body.password</td>
      </tr>
      <tr>
        <td>GET-/api/getinfo</td>
        <td>Response with auth user details</td>
        <td>res.json({});</td>
      </tr>
      <tr>
        <td style="font-weight: bolder; color: green; text-align: center">
          Risk Tolerance and Crypto Exposure assessment
        </td>
      </tr>
      <tr>
        <td>POST-/api/user/create/assessment</td>
        <td>Creates User assessment data(authenticated route)</td>
        <td>
          { question: req.body.assessmentOneQ, answer: req.body.assessmentOneA,
          }, { question: req.body.assessmentTwoQ, answer:
          req.body.assessmentTwoA, }, { question: req.body.assessmentThreeQ,
          answer: req.body.assessmentThreeA, }, { question:
          req.body.assessmentFourQ, answer: req.body.assessmentFourA, }, {
          question: req.body.riskOneQ, answer: req.body.riskOneA, }, { question:
          req.body.riskTwoQ, answer: req.body.riskTwoA, }, { question:
          req.body.riskThreeQ, answer: req.body.riskThreeA, }, { question:
          req.body.riskFourQ, answer: req.body.riskFourA, },
        </td>
      </tr>
      <tr>
        <td>GET-/api/user/get/assessment</td>
        <td>Responds with all user responses</td>
        <td>res.json({});</td>
      </tr>
      <tr>
        <td style="font-weight: bolder; color: green; text-align: center">
          Portfolio
        </td>
      </tr>
      <tr>
        <td>POST-/api/portfolio/create</td>
        <td>Creates comic block Portfolio</td>
        <td>
          name: req.body.name, intro: req.body.intro, briefing:
          req.body.briefing, strategySnapshot: req.body.strategySnapshot,
          holdings: [req.body.btc, req.body.eth, req.body.usdt],
          portfolioStrategy: req.body.portfolioStrategy, portfolioType:
          req.body.portfolioType, subscription: req.body.subscription,
          subscriptionAmount: req.body.subscriptionAmount,
        </td>
      </tr>
      <tr>
        <td>GET-/api/portfolio</td>
        <td>Responds with all portfolio</td>
        <td>res.json([]);</td>
      </tr>
      <tr>
        <td>GET-/api/portfolio/:id</td>
        <td>GETS a portfolio</td>
        <td>req.params.id, res.json({});</td>
      </tr>
      <tr>
        <td>DELETE-/api/portfolio/:id</td>
        <td>DEL a portfolio</td>
        <td>req.params.id</td>
      </tr>
      <tr>
        <td style="font-weight: bolder; color: green; text-align: center">
          Upload selfie and id card
        </td>
      </tr>
      <tr>
        <td>POST-/api/upload</td>
        <td>uploads both govtId and a selfie file to the comiblock db</td>
        <td>
          pass two file input fields with name "profiles". by default the first
          one will be the govtId and the second will be the selfie.
        </td>
      </tr>
    </table>
  </body>
</html>
