<html>
  <head>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <h1>Welcome Bro, These are the existing API Endpoints</h1>
    <table>
      <tr>
        <th>Route</th>
        <th>Action</th>
        <th>Request.body/params</th>
      </tr>
      <tr>
        <td style="font-weight: bolder; color: green; text-align: center">
          SIGNUP, LOGIN, LOGOUT, CONFIRM EMAIL, RECOVER ACCOUNT
        </td>
      </tr>
      <tr>
        <td>GET-/logout</td>
        <td>Logout</td>
        <td>-</td>
      </tr>

      <tr>
        <td>POST-/api/signup</td>
        <td>Signup -</td>
        <td>
          req.body.phone, req.body.firstname, req.body.surname, req.body.email,
          req.body.occupation, req.body.dateOfBirth, req.body.password
          <span style="font-weight: bolder">
            <br /><br />By default a verified state is set to false, and the
            user is sent an OTP to confirm email address.</span
          >
        </td>
      </tr>
      <tr>
        <td>POST-/api/recover_account</td>
        <td>Recover Account</td>
        <td>
          req.body.email
          <span style="font-weight: bolder">
            <br /><br />Sends a new OTP to the user email address</span
          >
        </td>
      </tr>
      <tr>
        <td>POST-/api/confirm_email</td>
        <td>confirm Email address</td>
        <td>
          req.body.email, req.body.verifyCode
          <span style="font-weight: bolder">
            <br /><br />Verifies the OTP sent to the user email address with
            what is stored in the DB and updates the user verified status to
            true if correct</span
          >
        </td>
      </tr>
      <tr>
        <td>PATCH-/api/update/password</td>
        <td>Update Password</td>
        <td>req.body.email,req.body.confirmPassword,req.body.newPassword</td>
      </tr>
      <tr>
        <td>POST-/api/login</td>
        <td>Authentication/login</td>
        <td>req.body.email, req.body.password</td>
      </tr>
      <tr>
        <td>GET-/api/getinfo</td>
        <td>Response with auth user details</td>
        <td>res.json({});</td>
      </tr>
    </table>
  </body>
</html>
